.outer-container {
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(5, 39, 112, 0.8);
  background-blend-mode: overlay;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* header {
  margin-bottom: 1.5rem;
} */

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top {
  margin-top: 5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 40em) {
  .header-top {
    margin-top: 15rem;
  }
}

.header-middle {
  flex: 2;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.header-bottom {
  display: flex;
  justify-content: start;
}

.author {
  width: fit-content;
  background: rgba(255, 255, 255, 0.4);
  font-style: italic;
  padding: 0.4rem;
  margin: 0 0 1.5rem 1.5rem;
  border-radius: 0.5rem;
}

/* CRYPTO */
.crypto {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1.2rem;
  height: 15rem;
  padding: 0 1rem 1rem;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 40em) {
  .crypto {
    font-size: 1.1rem;
    text-align: center;
  }
}

.crypto p {
  margin: 0;
}
.crypto-header {
  flex: 1 0 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crypto-body {
  flex: 2 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* CURRENT TIME */
.current-time {
  font-size: 5rem;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 40em) {
  .current-time {
    font-size: 3rem;
  }
}

/* WEATHER */
/* .weather-container {
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px rgb(19, 15, 15);
  color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
} */

.weather {
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px rgb(19, 15, 15);
  color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 40em) {
  .weather {
    text-align: center;
    font-size: 1.2rem;
  }
}

.hot,
.normal,
.cold {
  font-weight: 700;
}

.hot {
  color: rgb(245, 75, 75);
}

.normal {
  color: rgb(182, 182, 42);
}

.cold {
  color: rgb(40, 235, 241);
}
