.main-nav {
  width: 100%;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid hsl(0, 0%);
  position: fixed;
  z-index: 100;
}

.main-nav ul {
  background: hsl(0, 0%, 100%);
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 2px 2px 5px hsl(0, 0%, 11%);

  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
}

.nav-items {
  display: flex;
}

.nav-items li a,
.nav-logo li {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 1em;

  transition: background-color 500ms ease, color 600ms ease;
}

.main-nav li a:hover {
  background-color: hsl(240, 14%, 59%);
  color: white;
}

@media screen and (max-width: 40em) {
  .main-nav ul {
    flex-direction: column;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .nav-logo {
    flex-direction: column;
    align-items: center;
  }

  .nav-items li a,
  .nav-logo li {
    display: block;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5em;
  }
}

@media screen and (min-width: 60em) {
  .nav-items li a,
  .nav-logo li {
    font-size: 1.1rem;
  }
}
